[desc]
title = bigdata
description = big data code


[kafka]
cashseed.host = 10.105.208.155:9092
cashseed.topic = cashseed_trade_log

[mongodb]
host = mongodb://10.105.208.155:27017
cashseed.host = mongodb://10.105.208.155:27017

[common]
api.ip = http://10.20.5.201

[cashseedData]
database = cashseed
collection = trade_log
dataFrame = tvmid, key ,source, act_type, act_id, num=Integer, ext, time=Integer

[redis]
host = 10.105.208.155
port = 6379

[newspst]
list = news_bd,news_tv